.logo {
    height:40px;
    margin-right:10px;
}

.bg-red { background-color: #dc3545 !important; }
.bg-green { background-color: #198754 !important; }
.bg-blue { background-color: #0d6efd !important; }
